$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  margin-top: 20px;
  padding-top: 20px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron.app-index {
  position: relative;
  background-color: rgba(255,255,255,0.5);
}
.jumbotron.app-index::after {
  content: '';
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(images/uva-lawn.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}
