$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

body {
  font-family: "Times New Roman", Times, serif; color: #4863A0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  margin-top: 20px;
  padding-top: 20px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  position: relative;
  background-color: rgba(255,255,255,0.5);
}
.jumbotron .jumbotron-background {
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .jumbotron {
  padding-top: 100px;
  padding-bottom: 100px;
  }
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: rgb(0,19,87);
  background-color: rgb(221,223,232);
}
