<div class="row">

  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Journey to Israel and Palestine 2015</h2>
    <p>Dr. McRay led another successful journey to the region on March 1, 2015.  The month-long experience has changed the lives of the medical students and doctors who were fortunate to attend.  Shortly after the trip, shared an experience at an urgent care center in Fort Worth, Texas in which a patient from Jerusalem arrived in need of urgent treatment.  In her own words, "the newfound ability to connect with patients from the region we visited would not have been possible without the trip we took in March. The experience changed my outlook on global health systems, revealing the impact of history and politics on the current health of the citizens of Israel and Palestine.</p>
    </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Dr. Samar Musmar 2013</h2>
    <p>In October of 2013, the Magoon Foundation made it possible for Dr. Samar Musmar, the only US-trained and board-certified family physician in Palestine, to travel to Baltimore to serve as a plenary speaker at an annual global health conference organized by the American Academy of Family Physicians. Dr. Musmar is the Vice-Dean of the An Najah Medical School in Nablus and the director of the first Family Medicine residency program in Palestine, which she founded in 2010. I was fortunate to attend the conference and meet with Dr. Musmar during her visit. She illustrated the geopolitical tensions and logistical impediments that complicate the development of family medicine in Palestine. Not only does the region face the humanitarian needs of a developing country but also must deal with the non-communicable diseases common in the developed world. </p>
    </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>2015 Benefit in New York!</h2>
    <p>Stay tuned for an invitation to a benefit in New York early in 2016.  Last year, forty generous friends of the Magoon Foundation gathered to support the work of The Foundation.  Dr. David McRay led a moving discussion of the state of the healthcare systems in Israel and Palestine, highlighting the success and enormous potential of the Foundation's growing efforts in the region.</p>
    </div><!--/span-->  
</div><!--/row-->


