<div class="row">
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Benefit in New York</h2>
    <p>Forty generous friends of the Magoon Foundation gathered to support the work of The Foundation.  Dr. David McRay led a moving discussion of the state of the healthcare systems in Israel and Palestine, highlighting the success and enormous potential of the Foundation's growing efforts in the region.September 20, 2014</p>
    </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Journey to Israel and Palestine 2014</h2>
    <p>Stay tuned for more details.  Dr. McRay and team are actively working on plans for the month-long journey next year.</p>
    </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Dr. Samar Musmar 2013</h2>
    <p>In October of 2013, the Magoon Foundation made it possible for Dr. Samar Musmar, the only US-trained and board-certified family physician in Palestine, to travel to Baltimore to serve as a plenary speaker at an annual global health conference organized by the American Academy of Family Physicians. Dr. Musmar is the Vice-Dean of the An Najah Medical School in Nablus and the director of the first Family Medicine residency program in Palestine, which she founded in 2010. I was fortunate to attend the conference and meet with Dr. Musmar during her visit. She illustrated the geopolitical tensions and logistical impediments that complicate the development of family medicine in Palestine. Not only does the region face the humanitarian needs of a developing country but also must deal with the non-communicable diseases common in the developed world. </p>
    </div><!--/span-->
</div><!--/row-->


