<div class="row">
<div class="col-6 col-sm-6 col-lg-4">
<h2>Online</h2>
<p>
<b>www.alumni.virginia.edu/uvafund/</b><br />
Under Quick Links at the bottom right click Give to U.Va.<br />
Proceed to Give Online<br />
Designate: I’d like to choose where my money goes<br />
Choose Special Funds: Other and in Special Instructions box type: <b>Magoon Fund</b>
</p>
</div><!--/span-->
<div class="col-6 col-sm-6 col-lg-4">
<h2>Check</h2>
<p>
<b></B>Enclose check and mail to:</b><br />
University of Virginia Fund<br />
Alumni Association Gift<br />
P.O. Box 400314<br />
Charlottesville, VA 22904-4314<br />
In the Memo Section write:  <b>Magoon Fund</b>
</p>
</div><!--/span-->
<div class="col-6 col-sm-6 col-lg-4">
<h2>Other</h2>
<p>
Please contact Crawford Hawkins to discuss other giving arrangements<br />
email:   crawford.hawkins@gmail.com<br />
phone:   (917) 715-8575
</p>
</div><!--/span-->
</div><!--/row-->
