<div class="row">
<div class="col-6 col-sm-6 col-lg-4">
<h2>Online</h2>
<p>www.alumni.virginia.edu/uvafund/</p>
<p>Under Quick Links at the bottom right click Give to U.Va.</p>
<p>Proceed to Give Online </p>
<p>Designate: I’d like to choose where my money goes</p>
<p>Choose Special Funds: Other and in Special Instructions box type: Magoon Fund</p>
</div><!--/span-->
<div class="col-6 col-sm-6 col-lg-4">
<h2>Check</h2>
<p>Enclose check and mail to:</p>
<p>University of Virginia Fund</p>
<p>Alumni Association Gift</p>
<p>P.O. Box 400314</p>
<p>Charlottesville, VA 22904-4314</p>
<p>In the Memo Section write:  Magoon Fund</p>
</div><!--/span-->
<div class="col-6 col-sm-6 col-lg-4">
<h2>Other</h2>
<p>Please contact Crawford Hawkins to discuss other giving arrangements</p>
<p>email:   crawford.hawkins@magoonfoundation.org</p>
<p>phone:   (917) 715-8575</p>
</div><!--/span-->
</div><!--/row-->
