<p>
The Magoon Foundation honors the life of David Magoon by sponsoring humanitarian projects with specific emphasis on education and medicine. Magoon graduated from the University of Virginia in 2003, majoring in political and social thought. His passion for travel and international study led him to Valencia, Spain for a year after graduation. After his adventure David returned to begin his medical studies at Harvard Medical School. He had just begun clinical work at Beth Israel Deaconess Medical Center, one of the nation's top hospitals, when he lost his life in a tragic accident. His passionate love for medicine and his innate desire to help others were truly inspirational. On July 7, 2006 we lost one of this generation’s most promising physicians.
</p>
<p>
<b><a href="http://www.cavalierdaily.com/article/2006/07/living-life-to-the-limit" target="_blank">Living Life To The Limit</a></b><br />
</p>
<p>
For the past three years, The Foundation has supported small groups of medical students and residents to travel and work in Israel and Palestine.   The trip is led by Dr. David McRay, the fellowship director of the Maternal-Child Health Department at John Peter Smith Hospital. Dr. McRay is a nationally recognized leader in global health and family medicine. He has been traveling to the region for over 30 years. The Magoon Foundation continues to explore areas to grow its sponsorship with a keen eye on the cornerstones of medicine and education.
</p>
