<div class="jumbotron">
  <h1>Magoon Foundation Home Page</h1>
  <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
</div>
<div class="row">
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in dignissim eros, ut posuere nisl. Duis adipiscing quam in auctor faucibus. Donec mattis cursus libero in dignissim. In vel sagittis velit, in ornare arcu. Nunc eleifend lorem erat, id aliquet dolor blandit et.</p>
    <p><a class="btn btn-default" href="#">View details »</a></p>
  </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in dignissim eros, ut posuere nisl. Duis adipiscing quam in auctor faucibus. Donec mattis cursus libero in dignissim. In vel sagittis velit, in ornare arcu. Nunc eleifend lorem erat, id aliquet dolor blandit et.</p>
    <p><a class="btn btn-default" href="#">View details »</a></p>
  </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in dignissim eros, ut posuere nisl. Duis adipiscing quam in auctor faucibus. Donec mattis cursus libero in dignissim. In vel sagittis velit, in ornare arcu. Nunc eleifend lorem erat, id aliquet dolor blandit et.</p>
    <p><a class="btn btn-default" href="#">View details »</a></p>
  </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#">View details »</a></p>
  </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Heading</h2>
    <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript.</p>
    <p><a class="btn btn-default" href="#">View details »</a></p>
  </div><!--/span-->
  <div class="col-6 col-sm-6 col-lg-4">
    <h2>Heading</h2>
    <p>Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap friendly HTML, CSS and Javascript.</p>
    <p><a class="btn btn-default" href="#">View details »</a></p>
  </div><!--/span-->
</div><!--/row-->

